<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="markdownEditor">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- disable zooming capabilities on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="One page markdown editor">
    <meta name="keywords" content="markdown,angularjs,bootstrap,markdown editor">
    <meta name="author" content="Xiaojie LI">
    <title>AJToolNgMarkdownEditor | Online Markdown Editor</title>
    <!-- favicon -->
    <link rel="icon" type="image/ico" href="img/favicon.ico"/>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- css for highlight.js -->
    <link rel="stylesheet" href="bower_components/highlightjs/styles/atelier-dune.dark.css">
    <!-- app.min.css -->
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body>
    <!-- nav bar start -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navbar-brand-img" href="http://xiaojieli.com" title="Léo's PlayGround">
                    <img alt="Brand" src="img/selfie-200x200.jpg">
                </a>
                <span>»</span>
                <a class="navbar-brand navbar-brand-txt" href="https://github.com/ajielee/AJToolNgMarkdownEditor" title="Léo's tools - Online Markdown Editor">
                    AJToolNgMarkdownEditor
                </a>
            </div>
        </div>
        <!-- Fork me banner start -->
        <a class="hidden-xs" href="https://github.com/ajielee/AJToolNgMarkdownEditor" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0; width: 120px; height: 120px;" src="img/fork-me-banner.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
        <a class="hidden-lg hidden-md hidden-sm" href="https://github.com/ajielee/AJToolNgMarkdownEditor" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0; width: 80px; height: 80px;" src="img/fork-me-banner.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
    </nav>

    <!-- main-div start -->
    <div class="container-fluid main-div" ng-controller="mainCtrl">
        <div class="row">
            <div class="col-md-6">
                <ul class="nav nav-tabs">
                    <li class="visible-xs small-tab" role="presentation" ng-click="editorOn()" ng-class="{true:'active'}[showEditor]"><a href="#">Where you write</a></li>
                    <li class="visible-xs small-tab" role="presentation" ng-hide="showInTwoCol" ng-click="viewerOn()" ng-class="{true:'active'}[showViewer]"><a href="#">What you will see</a></li>
                    <li class="hidden-xs" role="presentation" ng-click="editorOn()" ng-class="{true:'active'}[showEditor]"><a href="#">Where you write</a></li>
                    <li class="hidden-xs" role="presentation" ng-hide="showInTwoCol" ng-click="viewerOn()" ng-class="{true:'active'}[showViewer]"><a href="#">What you will see</a></li>
                </ul>
                <div class="content-div">
                    <textarea class="text-div" ng-show="showEditor" ng-model="markdownSource" placeholder="Let's write something here..."></textarea>
                    <div class="markdown-div" ng-show="showViewer" marked="markdownSource"></div>
                </div>
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">What you will see</a></li>
                </ul>
                <div class="content-div">
                    <div class="markdown-div" marked="markdownSource"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- scrollToTopBtn begins -->
    <a href="#ScrollToTop" id="scrollToTopBtn" title="Scroll to top">
        <span class="glyphicon glyphicon-upload"></span>
    </a>

    <!-- JavaScript function default -->
    <script>
        // if the browsers don't support FormData (IE <= 9), give user some advices (不待见IE用户)
        (function() {
            if(window.FormData === undefined) {
                document.body.innerHTML = '<div style="color: #080808; width: 100%; height: 100%; text-align: center;">'
                 + '<h1>Sorry, this tool isn\'t suit for your browser.</h1>'
                 + '<h2>I recommend you to install one of these latest browsers:</h2>'
                 + '<ul>'
                 + '<li style="font-size: 30px; list-style: none;"><a href="https://www.google.com/chrome/browser/desktop/index.html">chrome</a></li>'
                 + '<li style="font-size: 30px; list-style: none;"><a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a></li>'
                 + '<li style="font-size: 30px; list-style: none;"><a href="https://www.apple.com/safari/">Safari</a></li>'
                 + '<li style="font-size: 30px; list-style: none;"><a href="http://windows.microsoft.com/en-us/internet-explorer/ie-11-worldwide-languages">IE 11</a></li>'
                 + '</div>';
            }
        })();
    </script>

    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- elastic.js -->
    <script src="bower_components/jakobmattsson-jquery-elastic/jquery.elastic.source.js"></script>
    <!-- AngularJS -->
    <script src="bower_components/angular/angular.min.js"></script>
    <!-- marked -->
    <script src="bower_components/marked/marked.min.js"></script>
    <!-- angular-marked -->
    <script src="bower_components/angular-marked/angular-marked.min.js"></script>
    <!-- highlight.js -->
    <script src="bower_components/highlightjs/highlight.pack.js"></script>
    <!-- app.min.js -->
    <script src="js/app.min.js"></script>
</body>